# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out

# Dependency directories
vendor/

# Environment files
.env
.env.*
!.env.example

# IDE / Tooling
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
node_modules/
dist/
build/